html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  overflow: hidden;
  touch-action: none;
  background: #000000;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body, #game-canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  background: black;
  text-align: center;
  color: white;

  padding: 0.3rem 0.5rem;
  box-sizing: border-box;
}

header label {
  margin-bottom: 3px;
}

header #controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 900px) {
  header #controls {
    margin-top: 20px;
  }
}

header #controls button {
  border: none;
  font-size: 0.9em;
  font-weight: bold;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  height: 100%;
  border: none;
}

header #controls .control-group {
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

header #controls .field-group {
  display: flex;
  flex-direction: column;
}

header #controls .button-group {
  display: flex;
  flex-direction: row;
}

header #controls .field-group label {
  font-size: 0.75em;
}

header #controls input[type="range"], header #controls select, header #controls button {
  accent-color: rgb(89, 89, 89);
  background-color: rgb(89, 89, 89);
  color: white;
  cursor: pointer;
}

header #controls select {
  margin: 0 5px;
  border-radius: 5px;
  color: black;
}

header #controls button[disabled] {
  background-color: rgb(39, 39, 42);
  cursor: not-allowed;
}

header #controls select {
  background-color: #DDDDDD;
}

@media (max-width: 600px) {
  header #controls {
    flex-direction: column;
  }

  header #controls .control-group {
    margin: 10px 0;
    flex-direction: column;
  }
}

#game-canvas input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0.25px solid #333333;
  background-color: #1A1A1A;
}

#game-canvas input[type="checkbox"]:checked {
  background-color: #4CAF50;
  animation: glow 1.5s infinite alternate, fadeIn 0.05s ease-in;
}

.caption {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  opacity: 0.25;
  pointer-events: none;
}

.caption h1 {
  font-size: 1.5em;
  font-weight: bold;
  animation: text-glow-white 5s infinite alternate;
}

.caption h1 sup {
  font-size: 0.5em;
  color: #4CAF50;
  animation: text-glow-green 5s infinite alternate;
}

@keyframes glow {
  from {
    border-color: #333333;
  }
  to {
    border-color: #4CAF50;
  }
}

@keyframes text-glow-white {
  from {
    text-shadow: 0 0 2px white;
  }
  to {
    text-shadow: 0 0 4px white;
  }
}

@keyframes text-glow-green {
  from {
    text-shadow: 0 0 2px #00FF41;
  }
  to {
    text-shadow: 0 0 4px #00FF41;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
