<!-- The Index (List All The Articles) -->
{% extends 'main.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% for article in articles_page.object_list %}
        <article class="post">
            <!-- POST TITLE -->
            <h4><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h4>
            <!-- END POST TITLE -->

            <!-- POST META -->
            <div class="post-meta">
                <p class="date">
                    <span class="glyphicon glyphicon-time"></span>
                    {{ article.date.strftime('%m/%d/%Y') }}
                </p>

                <p class="read-time">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    {{ article.readtime }}
                </p>

                <!-- DISQUS COMMENT COUNT -->
                <p class="comments">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    <span class="text disqus-comment-count" data-disqus-identifier="{{ article.disqusidentifier }}"></span>
                </p>
                <!-- END DISQUS COMMENT COUNT -->
            </div>
            <!-- END POST META -->

            <!-- POST SUMMARY/CONTENT -->
            <div class="article-content">
                {% if article.summary %}
                    {{ article.summary }}
                {% else %}
                    {{ article.content }}
                {% endif %}
            </div>
            <!-- END POST SUMMARY/CONTENT -->
        </article>

        <hr class="article-sep">
    {% endfor %}
{% endblock %}
