article {
    margin: 35px auto;
    padding-bottom: 30px;
    border-bottom: 1px solid @grey;

    h4 {
        font-size: 55px;
        text-align: center;
        font-weight: 300;
    }

    ul li, ol li, p {
        font-size: 1.7rem;
    }

    code {
        font-size: 1.4rem;
    }

    .article-content {
        h1, h2, h3, h4, h5, h6 {
            font-size: 55px !important;
            text-align: left !important;
            font-weight: 300 !important;
        }

        h2 {
            font-size: 50px !important;
        }

        h3 {
            font-size: 45px !important;
        }

        h4 {
            font-size: 40px !important;
        }

        h5 {
            font-size: 35px !important;
            margin-top: 35px;
        }

        h6 {
            font-size: 30px !important;
            margin-top: 20px;
        }
    }

    .post-meta {
        width: auto;
        text-align: center;
        margin: 0 10px 25px;

        p {
            font-size: 1.7rem;
        }

        .glyphicon {
            position: relative;
            top: 6px;
            right: 3px;
            font-size: 2rem;
        }

        .post-meta-datapoint {
            margin: 0 15px;
            display: inline;

            .text {
                position: static;
                top: 0;
                right: 0;
                font-size: 1.8rem;
            }
        }
    }

    .article-footer {
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }

        .tags {
            flex-grow: 1;
            width: 100%;

            @media screen and (min-width: 768px) {
                width: auto;
            }
        }

        .article-footer-links {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 20px 0px -20px;

            @media screen and (min-width: 768px) {
                width: auto;
                flex-grow: 1;
                justify-content: flex-end;
                margin: 0px;
            }

            .article-link {
                font-size: 1.7rem;
                margin-right: 0px;
                text-decoration: underline;

                @media screen and (min-width: 768px) {
                    margin-right: 40px;
                }

                &:last-of-type {
                    margin-right: 0px;
                }

                &.readmore-link {
                    font-weight: bold;
                    order: 1;

                    @media screen and (min-width: 768px) {
                        order: 0;
                    }
                }
            }
        }
    }

    #disqus_thread {
        margin: 30px 25px !important;
    }
}

// Our post-meta stuff just looks a lot better if we set it
// to display block after <= 550px;
@media screen and (max-width: 550px) {
    article .post-meta {
        .date, .read-time, .comments {
            display: block;
        }
    }
}
