article {
    h4 {
        font-size: 55px;
        text-align: center;
        font-weight: 300;
    }

    p {

        font-size: 1.8rem;
    }

    .article-content {
        & > * {
            margin: 15px 25px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-size: 55px !important;
            text-align: left !important;
            font-weight: 300 !important;
        }

        h2 {
            font-size: 50px !important;
        }

        h3 {
            font-size: 45px !important;
        }

        h4 {
            font-size: 40px !important;
        }

        h5 {
            font-size: 35px !important;
        }

        h6 {
            font-size: 30px !important;
        }
    }

    .post-meta {
        width: 100%;
        text-align: center;
        margin: -5px 0 25px;

        span {
            position: relative;
            top: 6px;
            right: 3px;
            font-size: 2.4rem;
        }

        .date, .read-time, .comments {
            margin: 0 15px;
            display: inline;
        }
    }

    #disqus_thread {
        margin: 65px 25px !important;
    }
}

// Our post-meta stuff just looks a lot better if we set it
// to display block after <= 550px;
@media screen and (max-width: 550px) {
    article .post-meta {
        .date, .read-time, .comments {
            display: block;
        }
    }
}