header {
    margin-bottom: 25px;
    background-image: url('/theme/images/default_header_image.jpg');
    background-position: 50% 0%;
    background-repeat: no-repeat;

    -webkit-box-shadow: inset 0px -20px 12px 3px rgba(0,0,0,0.51);
    -moz-box-shadow: inset 0px -20px 12px 3px rgba(0,0,0,0.51);
    box-shadow: inset 0px -20px 12px 3px rgba(0,0,0,0.51);

    h1, h2 {
        margin-top: 0px;
        padding-top: 100px;
        text-align: center;
        font-size: 60px;

        a {
            transition: color 0.2s;
            color: @cool-blue;

            span {
                transition: color 0.2s;
                color: white;
            }

            &:hover {
                color: white;

                span {
                    color: @cool-blue;
                }
            }
        }
    }

    h2 {
        font-size: 27px;
        color: white;
        padding-top: 0px;
        padding-bottom: 100px;
        opacity: 0;
        transition: opacity 0.2s ease;
    }
}
