header {
    background-image: url('/theme/images/default_header_image.jpg');
    background-position: 50% 0%;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 400px;

    h1, h2 {
        color: white;
        margin-top: 0px;
        text-align: center;
    }
}