@import "bootstrap/bootstrap.less";

// We will go ahead and apply some body styling in this file
// because... why not?
body {
    background: white;
    font-family: "Source Sans Pro", serif;

    .wrapper {
        max-width: 980px;
        margin: 0 auto;
    }
}

@import "header.less";