@import "bootstrap/bootstrap.less";

// COLORS
@cool-blue: #6DC0FF;
@dark-blue: #337ab7;
@light-grey: #555;
@grey: #EAEAEA;

@primary-color: @cool-blue;
@secondary-color: #3B7FB3;

// We will go ahead and apply some body styling in this file
// because... why not?
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: white;
    font-family: "Source Sans Pro", serif;
    color: @light-grey;

    a {
        transition: color 0.2s ease;
        color: @primary-color;

        &:hover {
            text-decoration: none;
            color: @secondary-color;
        }
    }
}

@import "header.less";
@import "content.less";
@import "footer.less";
