{% import 'macros/tags.import.html' as tags %}

{% macro render_articles(articles) -%}
    {% for article in articles %}
        <article class="post">
            <h4>
                <a href="{{ SITEURL }}/{{ article.url }}">
                    {{ article.title }}
                </a>
            </h4>

            <aside class="post-meta">
                <p class="post-meta-datapoint date">
                    <span class="glyphicon glyphicon-time"></span>
                    {{ article.date.strftime('%m/%d/%Y') }}
                </p>

                <p class="post-meta-datapoint read-time">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    {{ article.readtime_string_with_seconds }}
                </p>
            </aside>

            <div class="article-content">
                {% if article.summary %}
                    {{ article.summary }}
                {% else %}
                    {{ article.content }}
                {% endif %}
            </div>

            <div class="article-footer">
                {{ tags.render_tags_list(article.tags) }}

                <div class="article-footer-links">
                    <a class="article-link readmore-link" href="{{ SITEURL }}/{{ article.url }}">
                        Read More
                    </a>

                    <a class="article-link" href="{{ SITEURL }}/{{ article.url }}#disqus_thread">
                        Read The Discourse
                    </a>
                </div>
            </div>
        </article>
    {% endfor %}
{%- endmacro %}
